/* МЕДИЯ ЗАЯВКИ ЗА МАЛКИ ЕКРАНИ */



@media screen and (max-width: 1300px) {
    .imglogo {
        width: 99%;
        height: 100%;
    }

    .obcol {
        width: 100%;
        height: 100%;
    }

    .str {
        font-size: 23px;
    }

    .col2 {
        width: 100%;
        height: 100%;
    }

    .st1 {
        float: left;
        padding: 10px;
        width: 50%;
        height: 100%;
    }

    .st2 {
        float: right;
        padding: 10px;
        width: 50%;
        height: 100%;
    }

    .obuspinchl {
        width: 100%;
        height: 20%;
    }
}


@media screen and (max-width: 1280px) {

    .col2 {
        width: 99%;
        height: 100%;
    }

    .st1 {
        float: left;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .st2 {
        float: left;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .obuspinchl {
        width: 85%;
        height: 20%;
    }

}

@media screen and (max-width: 1200px) {

    .stkarta {
        float: unset;
        padding: 5px;
        border-radius: 26px;
        margin: 2%;
    }

    .stkarta1 {
        float: unset;
        padding: 5px;
        border-radius: 26px;
        margin: 2%;
    }

    .kartamps {
        padding: 8px;
        height: 100%;
        width: 98%;
    }

    .kartob {
        background-color: rgb(244, 255, 215);
    }

    .infogrc {
        width: 98%;
    }

    .str {
        font-size: 21px;
    }


    .obuspinchl {
        width: 75%;
        height: 20%;
    }

}

@media screen and (max-width: 1150px) {
    .str {
        font-size: 22px;
    }

}

@media screen and (max-width: 1100px) {
    .str {
        font-size: 20px;
    }

    .imglogo1 {
        padding: 16px;
        width: 54%;
        height: 80%;
    }


    .zapitvane {
        width: 35%;
        height: 50%;
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .cool2 {
        min-width: 98%;
        margin: 1%;
    }

    .imgstcha {
        min-width: 97%;
        margin: 1%;
    }

    .colsn2 {
        min-width: 97%;
    }


    .img1 {
        width: 90%;
    }

    .img2 {
        width: 90%;
    }

    .img3 {
        width: 90%;
    }

    .img4 {
        width: 90%;
    }

    .img5 {
        width: 90%;
    }

    .img6 {
        width: 90%;
    }

    .img7 {
        width: 90%;
    }

    .img8 {
        width: 90%;
    }

    .img9 {
        width: 90%;
    }

    .img10 {
        width: 90%;
    }

    .img11 {
        width: 90%;
    }

    .img12 {
        width: 90%;
    }

    .img13 {
        width: 90%;
    }

    .img14 {
        width: 90%;
    }

    .img15 {
        width: 90%;
    }

    .img16 {
        width: 90%;
    }

    .img17 {
        width: 90%;
    }

    .img18 {
        width: 90%;
    }

    .img19 {
        width: 90%;
    }

    .img20 {
        width: 90%;
    }

    .img21 {
        width: 90%;
    }

    .img22 {
        width: 90%
    }

    .img23 {
        width: 90%;
    }

    .img24 {
        width: 90%;
    }

    .navigaciq {
        display: none;
        font-size: 36px;
        border-radius: 0px;
        padding: 18px;
    }

    .nadglvnav {
        font-size: 36px;
        border-radius: 0px;
        padding: 18px;
        display: block;
    }

    .btnnav1 {
        display: block;
    }

    .str {
        font-size: 23px;
        display: table-caption;
        text-align: center;
        width: 820px;
        height: 100%;
    }

}

@media screen and (max-width: 950px) {
    .str {
        font-size: 24px;
        width: 800px;
        height: 100%;
    }
}

@media screen and (max-width: 930px) {
    .str {
        font-size: 24px;
        width: 780px;
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .str {
        font-size: 23px;
        width: 720px;
    }

    .imglogo1 {
        width: 80%;
        height: 80%;
    }

    .sklips {
        display: table-caption;
        font-size: 38px;
    }

    .imglogo1 {
        padding: 16px;
        width: 100%;
        height: 100%;
    }

    .zapitvane {
        width: 98%;
        height: 100%;
        padding: 10px;
    }

}

@media screen and (max-width: 850px) {
    .str {
        width: 670px;
    }
}

@media screen and (max-width: 800px) {

    .navigaciq {
        text-align: center;
    }

    .str {
        width: 620px;
    }

    .obuspinchl {
        width: 100%;
        height: 20%;
    }

}

@media screen and (max-width: 750px) {
    .str {
        width: 560px;
    }

    .zapitvane {
        width: 98%;
        height: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 700px) {
    .content {
        font-size: 28px;
    }

    .st1 {
        font-size: 26px;
    }

    .st2 {
        font-size: 26px;
    }

    .col2 {
        min-width: 54%;
    }

    .snkmtstr {
        padding: 3%;
        margin: 3%;
        border: 0px solid;
        border-radius: 90px;
    }

    .snkmtpnshte {
        padding: 3%;
        margin: 3%;
        border: 0px solid;
        border-radius: 90px;
    }

    .kmtob {
        padding: 4%;
        margin: 4%;
        background-color: rgb(244, 255, 215);
    }

    .sklips {
        font-size: 33px;
    }

    .str {
        width: 560px;
    }

    .uspform {
        font-size: 26px;
    }


    .nchl {
        font-size: 28px;
    }
}

@media screen and (max-width: 650px) {
    .str {
        width: 410px;
    }

    .sgams {
        font-size: 39px;
    }
}


@media screen and (max-width: 600px) {
    .content {
        font-size: 27px;
    }

    .st1 {
        font-size: 21px;
    }

    .st2 {
        font-size: 21px;
    }

    .col2 {
        min-width: 54%;
    }

    .none {
        display: none;
    }

    .yes {
        display: block;
    }

    .str {
        width: 380px;
    }

    .imglogo1 {
        padding: 16px;
        display: none;
    }

    .imglogo1ml {
        display: block;
        border: 0px solid;
        border-radius: 45px;
        width: 97%;
        height: 97%;
    }
}

@media screen and (max-width: 550px) {
    .str {
        width: 350px;
    }

    .uspform {
        font-size: 23px;
    }


    .nchl {
        font-size: 25px;
    }

}


@media screen and (max-width: 500px) {
    .str {
        width: 346px;
    }
}




/* МЕДИЯ ЗАЯВКИ ЗА ГОЛЕМИ ЕКРАНИ */


@media screen and (min-width: 1300px) {
    body {
        background-color: rgb(221, 221, 221);
    }

    .obs {
        margin-left: 16px;
        margin-right: 16px;
    }

    div {
        margin: 0px;
        padding: 0px;
        background-color: rgb(221, 221, 221);
    }

    header .imglogo {
        border: 0px solid;
        border-radius: 0px;
        padding: 6px;
        background-color: rgb(157, 180, 255);
        width: 99%;
        height: 100%;
    }

    footer {
        text-align: center;
        padding: 15px;
        margin-top: 29px;
        clear: both;
        background-color: rgb(50, 80, 182);
        font-size: 32px;
        color: rgb(255, 255, 255);
    }

    .imglogo1 {
        padding: 16px;
        border: 0px solid;
        border-radius: 65px;
        width: 50%;
        height: 50%;
        float: right;
    }

    .content {
        color: rgb(38, 0, 255);
        background-color: rgb(220, 228, 255);
        font-style: inherit;
        font-size: 35px;
        border-radius: 30px;
        padding: 8px;
    }

    .navigaciq {
        background-color: rgb(50, 80, 182);
        color: red;
        font-size: 39px;
        border: 6px solid rgb(157, 180, 255);
        border-radius: 0px;
        padding: 15px;
        width: 99%;
        height: 100%;
    }

    .nadglvnav {
        display: none;
        background-color: rgb(50, 80, 182);
        color: red;
        font-size: 36px;
        border: 6px solid rgb(157, 180, 255);
        border-radius: 0px;
        padding: 18px;
        width: 99%;
        height: 100%;
    }

    .s8 {
        font-size: 41px;
    }

    .btnnav1 {
        display: none;
        color: red;
        font-size: 28px;
        text-decoration: none;
        padding: 16px;
        font-style: initial;
        background-color: rgb(157, 180, 255);
        text-align: center;
        min-width: 98%;
        border: 0px solid;
        border-radius: 92px;
    }

    .btnnav1:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(38, 0, 255);
    }

    .str {
        color: rgb(255, 255, 255);
        font-size: 33px;
        text-decoration: none;
        padding: 16px;
        font-style: initial;
    }

    .str:hover {
        background-color: rgb(157, 180, 255);
        color: rgb(158, 0, 0);
        border: 0px;
        border-radius: 40px;
        text-decoration: none;
    }

    .st1 {
        font-size: 29px;
        font-style: unset;
        color: rgb(38, 0, 255);
        font-style: italic;
        background-color: rgb(220, 228, 255);
        float: left;
        padding: 10px;
        border-radius: 26px;
    }

    .st2 {
        font-size: 29px;
        font-style: unset;
        color: rgb(38, 0, 255);
        font-style: italic;
        background-color: rgb(220, 228, 255);
        float: right;
        padding: 10px;
        border-radius: 26px;
    }

    .zapitvane {
        background-color: rgb(157, 180, 255);
        font-size: 21px;
        font-style: unset;
        width: 40%;
        height: 50%;
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        float: left;
    }

    .form {
        padding: 1%;
    }

    .igri {
        border-radius: 18px;
        font-size: 76px;
    }

    .zabavleniq {
        border-radius: 0px;
        font-size: 76px;
    }

    .games {
        padding: 12px;
    }

    .game1 {
        padding: 25px;
        border: 8px solid red;
        border-radius: 60px;
        margin: 30px;
        background-color: yellow;
    }

    .game2 {
        padding: 25px;
        border: 8px solid red;
        border-radius: 60px;
        margin: 30px;
        background-color: yellow;
    }

    .game3 {
        padding: 25px;
        border: 8px solid red;
        border-radius: 60px;
        margin: 30px;
        background-color: yellow;
    }

    .game4 {
        padding: 25px;
        border: 8px solid red;
        border-radius: 60px;
        margin: 30px;
        background-color: yellow;
    }

    .game5 {
        padding: 25px;
        border: 8px solid red;
        border-radius: 60px;
        margin: 30px;
        background-color: yellow;
    }

    .game6 {
        padding: 25px;
        border: 8px solid red;
        border-radius: 60px;
        margin: 30px;
        background-color: yellow;
    }

    h2 {
        font-size: 86px;
        font-style: italic;
        text-align: center;
        padding: 8px;
        color: rgb(50, 80, 182);
    }

    .nav4 {
        padding: 24px;
        margin: 10px;
        float: left;
        width: 100%;
        height: 100%;
    }

    .sgams {
        font-size: 56px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(50, 80, 182);
        border: 6px solid rgb(157, 180, 255);
        border-radius: 40px;
    }

    .sgams:hover {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }

    .submit1 {
        text-align: center;
        background-color: rgb(0, 255, 149);
        color: red;
        border: 0px solid;
        border-radius: 29px;
        font-size: 34px;
    }

    .submit1:hover {
        background-color: rgb(50, 80, 182);
        color: red;
    }

    .img1 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img2 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img3 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img4 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img5 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img6 {
        padding: 13px;
        float: left;
        display: none;
        margin: 16px;
        width: 96%;
        height: 100%;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img7 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img8 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img9 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img10 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img11 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img12 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img13 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img14 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img15 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img16 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img17 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img18 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img19 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img20 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img21 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img22 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img23 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .img24 {
        padding: 13px;
        float: left;
        width: 96%;
        height: 100%;
        margin: 16px;
        background-color: rgb(220, 228, 255);
        border: 0px solid;
        border-radius: 90px;
    }

    .colsn2 {
        width: 48%;
        margin: 5px;
        float: left;
        display: block;
        padding: 3px;
        min-height: 200px;
        background-color: rgb(220, 228, 255);
        border-radius: 26px;
    }

    .novresponsive {
        background-color: rgb(220, 228, 255);
    }

    .cool2 {
        width: 48%;
        margin: 5px;
        float: left;
        display: block;
        padding: 23px;
        min-height: 200px;
        background-color: rgb(220, 228, 255);
        border-radius: 26px;
    }

    .zg {
        font-size: 54px;
        color: rgb(38, 0, 255);
        text-align: center;
    }

    p {
        font-size: 34px;
        color: rgb(74, 42, 255);
    }

    h3 {
        font-size: 53px;
        color: rgb(38, 0, 255);
    }

    .obshtnav2 {
        background-color: rgb(50, 80, 182);
        border: 4px solid rgb(157, 180, 255);
        border-radius: 80px;
        display: inline-block;
        width: 97%;
        height: 100%;
        padding: 12px;
        text-decoration: none;
        font-size: 30px;
        padding: 21px;
        display: block;
    }

    .nadnav2 {
        background-color: rgb(50, 80, 182);
        color: red;
        font-size: 40px;
        text-align: center;
        padding: 16px;
        border-radius: 120px;
    }

    .nadnav2:hover {
        background-color: rgb(157, 180, 255);
        border: 0px solid;
        border-radius: 120px;
    }

    .nav2 {
        display: none;
        background-color: rgb(50, 80, 182);
        display: none;
        padding: 16px;
        width: 97%;
        height: 100%;
    }

    .stpn {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 36px;
        padding: 14px;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .stpn:hover {
        background-color: rgb(157, 180, 255);
        color: red;
        border: 0px solid;
        border-radius: 40px;
        text-decoration: none;
    }

    .naviob2 {
        border: 6px solid rgb(157, 180, 255);
        border-radius: 80px;
        background-color: rgb(50, 80, 182);
        padding: 30px;
    }

    .panell {
        color: rgb(255, 255, 255);
        font-size: 36px;
    }

    .panell:hover {
        color: red;
    }

    .imglogo1ml {
        display: none;
    }

    .yes {
        display: none;
    }

    .obnav4 {
        position: static;
    }

    .stkarta {
        float: left;
        padding: 16px;
        border-radius: 32px;
        background-color: rgb(157, 180, 255);
        margin: 2%;
        width: 100%;
        height: 100%;
    }

    .stkarta1 {
        float: left;
        padding: 16px;
        border-radius: 32px;
        background-color: rgb(157, 180, 255);
        margin: 2%;
        width: 100%;
        height: 100%;
    }

    .kartamps {
        padding: 4px;
        width: 100%;
        height: 100%;
    }

    .kartob {
        background-color: rgb(220, 228, 255);
    }

    .infogrc {
        width: 98%;
        background-color: rgb(220, 228, 255);
        border-radius: 26px;
        display: inline-block;
    }

    #zzgg {
        font-size: 33px;
    }

    #snzg {
        text-align: center;
        font-size: 51px;
    }

    .snkmtstr {
        padding: 8%;
        margin: 8%;
        border: 0px solid;
        border-radius: 90px;
    }

    .snkmtpnshte {
        padding: 8%;
        margin: 8%;
        border: 0px solid;
        border-radius: 90px;
    }

    .kmtob {
        padding: 4%;
        margin: 4%;
        background-color: rgb(220, 228, 255);
    }

    .obinfo {
        padding: 4%;
        margin: 4%;
        background-color: rgb(220, 228, 255);
    }

    .obzaglavie {
        padding: 1%;
    }

    .klip1 {
        width: 80%;
        height: 80%;
        margin: 15px;
        padding: 23px;
        background-color: rgb(50, 80, 182);
        border: 9px solid rgb(157, 180, 255);
        border-radius: 30px;
        min-width: 86%;
    }

    .klip2 {
        width: 80%;
        height: 80%;
        margin: 15px;
        padding: 23px;
        background-color: rgb(50, 80, 182);
        border: 9px solid rgb(157, 180, 255);
        border-radius: 30px;
        min-width: 86%;
    }

    .klip3 {
        width: 80%;
        height: 80%;
        margin: 15px;
        padding: 23px;
        background-color: rgb(50, 80, 182);
        border: 9px solid rgb(157, 180, 255);
        border-radius: 30px;
        min-width: 86%;
    }

    .klip4 {
        width: 80%;
        height: 80%;
        margin: 15px;
        padding: 23px;
        background-color: rgb(50, 80, 182);
        border: 9px solid rgb(157, 180, 255);
        border-radius: 30px;
        min-width: 86%;
    }

    .klip5 {
        width: 80%;
        height: 80%;
        margin: 15px;
        padding: 23px;
        background-color: rgb(50, 80, 182);
        border: 9px solid rgb(157, 180, 255);
        border-radius: 30px;
        min-width: 86%;
    }

    .klip6 {
        width: 80%;
        height: 80%;
        margin: 15px;
        padding: 23px;
        background-color: rgb(50, 80, 182);
        border: 9px solid rgb(157, 180, 255);
        border-radius: 30px;
        min-width: 86%;
    }

    .klips {
        width: 100%;
        height: 100%;
    }


    .obshtdvzab {
        padding: 32px;
        margin: 20px;
        border: 10px solid rgb(255, 187, 187);
        border-radius: 92px;
        background-color: black;
    }

    .pnlzab {
        background-color: black;
        color: rgb(51, 255, 0);
        font-size: 90px;
        text-align: center;
        padding: 32px;
        font-size: 40px;
    }

    .pnlzab:hover {
        border: 0px solid;
        border-radius: 60px;
        background-color: rgb(255, 148, 77);
    }

    .nav5 {
        padding: 32px;
        margin: 20px;
        background-color: black;
        display: none;
    }

    .ppnl {
        font-size: 46px;
        color: rgb(51, 255, 0);
    }

    .sklips {
        text-decoration: none;
        font-size: 53px;
        color: yellow;
        padding: 22px;
    }

    .sklips:hover {
        color: red;
        text-decoration: none;
    }

    .col2 {
        width: 100%;
        height: 100%;
    }

    .obcol {
        width: 100%;
        height: 100%;
    }

    #ig {
        width: 100%;
        height: 100%;
        border: 0px;
        border-radius: 20px;
    }

    #ig1 {
        width: 100%;
        height: 100%;
        border: 0px;
        border-radius: 20px;
    }

    .indexpage {
        text-align: center;
        font-size: 34px;
        margin: 2%;
    }

    .obuspinchl {
        width: 100%;
        height: 20%;
    }

    .usp {
        padding: 8%;
        margin: 8%;
    }

    .uspform {
        text-align: center;
        color: red;
        padding: 4%;
        font-style: italic;
        background-color: rgb(0, 255, 149);
        border-radius: 20px;
        font-size: 32px;
    }

    .nchl {
        text-decoration: none;
        color: red;
        font-size: 34px;
        font-style: italic;
        text-align: center;
    }

    .nchl:hover {
        color: rgb(38, 0, 255);
    }

    .nchldiv {
        background-color: rgb(0, 255, 149);
        border-radius: 20px;
        text-align: center;
        padding: 2%;
    }

    .obdiv {
        background-color: rgb(0, 255, 149);
        border-radius: 20px;
    }

    .panell1 {
        color: rgb(255, 255, 255);
        font-size: 29px;
    }

    .panell1:hover {
        color: red;
    }

    .poshte {
        text-decoration: none;
        text-align: center;
        font-size: 28px;
        color: red;
        width: 100%;
        height: 100%;
    }

    .poshte:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .news {
        background-color: rgb(220, 228, 255);
        padding: 2%;
        border-radius: 20px;
        margin: 2%;
    }

    .vsnews {
        background-color: rgb(220, 228, 255);
        padding: 1%;
        margin: 1%;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .vnews {
        text-decoration: none;
        text-align: center;
        color: red;
        font-size: 41px;
        width: 100%;
        height: 100%;
    }

    .vnews:hover {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

@media screen and (min-width: 1000px) {
    .navigaciq {
        display: block !important;
        font-size: 36px;
        border-radius: 0px;
        padding: 18px;
        visibility: visible;
    }

    .nadglvnav {
        display: none;
    }
}